#iat-performance-student-chart-iat_1{
    width:100%;
    height:100%;
}
#iat-performance-student-chart-iat_2{
    width:100%;
    height:100%;
}
#iat-performance-student-chart-iat_3{
    width:100%;
    height:100%;
}
.comparing-chart-container {
    margin-top: 2.5%;
    padding: 2%;
    border-radius: 0.8vw;
    box-shadow: inset 0.8vw 0.8vw 1vw #ffffff, 0.6vw 0.6vw 0.9vw rgba(0, 0, 0, 0.16);
    width:100%;
    height:100%;
}

@media (max-width:620px) {
    #iat-performance-student-chart-iat_1{
        width:100%;
        height:100%;
    }
    #iat-performance-student-chart-iat_2{
        width:100%;
        height:100%;
    }
    #iat-performance-student-chart-iat_3{
        width:100%;
        height:100%;
    }
}