.department-overlay-chart-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.class-wise-overlay-chart-container{
    display: flex;
    justify-content: space-between;
    
}

.overall-department-performance-chart-container-class-wise{
    padding:10px;
    margin:0;
    margin-right:20px;
    border-radius: 30px;
    box-shadow: inset 20px 20px 22px #ffffff, 10px 10px 17px rgba(0, 0, 0, 0.16);
    text-align: center;
    }
.sub-charts-container{
    font-weight: 100;
    text-align: center;
    color:rgba(71, 71, 71, 0.331);
}
#class-wise-page{
    padding-top:70px;
}
.class-wise-header{
    justify-content: space-between;
}
.department-header-container{
    display: flex;
    width:100%;
    justify-content:space-between ;
}

.inside-container{
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 10px;
}
.menu-buttons{
align-items: flex-end;
margin-right: 20px;
justify-content: space-between;

}
.menu button {
    margin-right: 20px;
    background-color:transparent;
    color: rgb(37, 26, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.department-wise-chart-heading{
    top:0;
    margin-left: 20px;
    margin-top: 0px;
    color: rgba(57, 57, 57, 0.486);
}
.chart-heads{
    color: rgba(58, 58, 58, 0.824);

}
.menu button:hover {
    background-color: #7a7a7a30;
}

.menu button:focus {
    outline: none;
    box-shadow: 0 0 15px #177e55cd;
}
.menu-buttons .today-button{
    background-color: rgba(33, 107, 225, 0.482);
    outline: none;
    border: none;
    color: rgb(37, 26, 26);
    margin-top: 0;
    align-items: top;
}
.today-button{
    background-color: rgba(66, 223, 108, 0.482);
    outline: none;
    border: none;
    color: rgb(37, 26, 26);
    margin-right: 40px;

}